body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  width: 99%;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  background-color: black;
}

#logo {
  height: 50px;
  padding-left: 10px;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: seashell;
}

#links {
  display: flex;
  padding-right: 10px;
}

.mission-container {
  display: flex;
  padding-top: 69px;
  justify-content: center;
}

.body1 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  background-image: url(./images/img-mission-background.jpg);
}

#text {
  background-color: black;
  justify-content: center;
}

.month-container {
  display: flex;
  justify-content: center;
  border: 2px solid green;
}

.monthtext {
  width: 1000px;
}

.images-container {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}

.image-grid {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-grid-item {
  display: block;
  padding: 5px;
}

.image-grid-item img {
  display: block;
  margin: 10px;
  height: 200px;
}

.image-grid-item h4 {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid pink;
}

#locationstext {
  display: inline-block;
  padding-top: 70px;
  height: 500px;
  width: 1200px;
  background-image: url(./images/img-locations-background.jpg);
  border: 3px dotted green;
}

#locationstext h2 {
    margin: 0px;
    padding: 10px;
    display: block;
}

.box {
  width: 300px;
  opacity: 1;
  display: block;
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid yellow;
}
